<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление задачи</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="second_block">
        <h1>Добавить задачу</h1>
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="Опишите задачу">
            <button type="submit">Добавить</button>
        </form>
        <a href="/" class="btn">Назад</a>
    </div>
</body>
</html>